/*--------------------------
ベーススタイル
----------------------------*/
img {
  width: 100%;
  height: auto;
}

/*--------------------------
コンテンツ
----------------------------*/
/* 共通　*/
.logo {
  width: 20px;
  height: 20px;
}

/* トップページ */
.fv {
  height: 300px;
  object-fit: cover;
}